<div class="container" style="margin-bottom: -0.4em;">
  <div class="right" style="line-height: 2.4em;">
    made by <a href="https://underwind.solutions">underwind.solutions</a>
  </div>
  <a href="https://getnomy.com">
    <i class="material-icons tiny left" style="line-height: 2.5em;">dashboard</i> 
  </a>
  <div style="line-height: 2.4em;">
    getnomy.com
  </div>
</div>

<hr>
<div style="text-align: center;">
  <h4 style="margin: 0;">
    <a href="/" class="im">
      Community Management System:
    </a>
  </h4>
  <p style="margin: 0;">Built in NestJS & HTMX!</p>
</div>
<hr>
<br />

<div class="container">
  <h1 style="margin: 0;">
    The platform <br /> for communities
  </h1>
  <br />
  <h4 style="margin: 0;">
    All-in-one framework for hosting social media networks that run fully custom on your own servers.
  </h4>
  <br />
  <a href="https://burandt.istrav.com/pricing" target="_blank" class="btn btn-large black">pricing</a>
  <a href="https://burandt.istrav.com/solutions" target="_blank" class="btn btn-large black">solutions</a>
  <a href="https://burandt.istrav.com" target="_blank" class="btn btn-large black">community</a>
  <a href="https://client-area.istrav.com" target="_blank" class="btn btn-large black">support</a>
</div>

<br />
<br />
<hr>

<style>
  .im {
    color: #333;
  }
  .im:hover {
    color: #000;
  }
</style>