
<div class="card">
  <span class="title">µSaaS Modules</span>
  <br />
  <div class="card-content">
    <div class="row">
      <div class="col s12 m2" style="text-align: center;">
        <a href="https://home.getnomy.com" class="btn btn-large btn-floating black"><i class="material-icons">home</i></a>
      </div>
      <div class="col s12 m10">
        <h5 style="margin: 0;">
          nomy.HOME
        </h5>
        <hr>
        <p style="margin: 0;">
          Easily engage and empower your community.

          Load balance traffic by creating a splash page landing or homepage that is optimized for every user. No code needed.
        </p>
        <a href="https://home.getnomy.com">https://home.getnomy.com</a> - coming soon!
      </div>
    </div>

    <div class="row">
      <div class="col s12 m2" style="text-align: center;">
        <a href="https://erp.getnomy.com" class="btn btn-large btn-floating black"><i class="material-icons">shopping_cart</i></a>
      </div>
      <div class="col s12 m10">
        <h5 style="margin: 0;">
          nomy.ERP
        </h5>
        <hr>
        <p style="margin: 0;">
          Easily create and manage your e-commerce business.

          Accept orders, manage products and sell online using your very own storefront in minutes. No code needed.
        </p>
        <a href="https://erp.getnomy.com">https://erp.getnomy.com</a> - coming soon!
      </div>
    </div>

    <div class="row">
      <div class="col s12 m2" style="text-align: center;">
        <a href="https://tube.getnomy.com" class="btn btn-large btn-floating black"><i class="material-icons">videocam</i></a>
      </div>
      <div class="col s12 m10">
        <h5 style="margin: 0;">
          nomy.TUBE
        </h5>
        <hr>
        <p style="margin: 0;">
          Easily promote and sell your goods and services.

          Notify subscribers, manage playlists, and showcase videos using your very own catalog in minutes. No code needed.
        </p>
        <a href="https://tube.getnomy.com">https://tube.getnomy.com</a> - coming soon!
      </div>
    </div>

    <div class="row">
      <div class="col s12 m2" style="text-align: center;">
        <a href="https://desk.getnomy.com" class="btn btn-large btn-floating black"><i class="material-icons">work</i></a>
      </div>
      <div class="col s12 m10">
        <h5 style="margin: 0;">
          nomy.DESK
        </h5>
        <hr>
        <p style="margin: 0;">
          Easily create and manage your productized service.

          Accept monthly subscription plans, manage tasks and communicate using your very own client area in minutes. No code needed.
        </p>
        <a href="https://desk.getnomy.com">https://desk.getnomy.com</a> - coming soon!
      </div>
    </div>

    <div class="row">
      <div class="col s12 m2" style="text-align: center;">
        <a href="https://ims.getnomy.com" class="btn btn-large btn-floating black"><i class="material-icons">chat</i></a>
      </div>
      <div class="col s12 m10">
        <h5 style="margin: 0;">
          nomy.IMS
        </h5>
        <hr>
        <p style="margin: 0;">
          Easily host a peer 2 peer chat service.
          
          Instantly accept and receive personal messages over websockets and via notifications when offline. No code needed.
        </p>
        <a href="https://ims.getnomy.com">https://ims.getnomy.com</a> - in development!
      </div>
    </div>
  </div>
</div>

<style>
  .logo {
    margin: 0;
  }
  .nav {
    margin: 0 0 0 1em;
    float: right;
    color: #333;
    text-decoration: underline;
  }
  .nav:hover {
    text-decoration: none;
    background: #1a95e0;
    color: #fff;
  }
  
  .cms {
    color: #333;
  }
  .cms:hover {
    color: #000;
  }
  .result {
    border: 5px dashed #eee;
    padding: 1em;
  }
  .title {
    border: 1px solid #000;
    font-size: 1.5em;
    position: absolute; 
    top: -0.8em; 
    left: 0.5em; 
    background-color: #aaa;
    padding: 0 0.5em;
  }
  .card {
    border: 1px solid #000;
    position: relative;
    background: #fff;
  }
</style>