<div class="card">
  <span class="title">Free Setup</span>
  <br />
  <div class="row">
    <div class="col s12">
      <h5 style="margin: 0;">No login or payment required! Within nomy communities are organizations of people where each person is assigned to a group(s) which grant or deny them permissions thoughout the app. Fuctionality is split into micro software as a service modules or µSaaS Modules while data is split into tenant silos; so billing and importing/exporting stay simple. After a community is created and after a tenant silo is created you should be good to go with our primary features.</h5>
      <br />
      <p style="margin: 0;">Get started with nomy by</p>
      <button
        hx-get="/communities/new-community"
        hx-target="#community-result"
        hx-swap="innerHTML"
        class="btn btn-large black"
      >
        <i class="material-icons left">create</i>Creating
      </button>
      <button
        hx-get="/communities/list-communities"
        hx-target="#community-result"
        hx-swap="innerHTML"
        class="btn btn-large black"
      >
        <i class="material-icons left">list</i>Listing
      </button>
      <br />
      <p style="margin: 0;">communities for this platform.</p>
    </div>
  </div>
</div>

<style>
  .result {
    border: 5px dashed #eee;
    padding: 1em;
  }
  .title {
    border: 1px solid #000;
    font-size: 1.5em;
    position: absolute; 
    top: -0.8em; 
    left: 0.5em; 
    background-color: #aaa;
    padding: 0 0.5em;
  }
  .card {
    border: 1px solid #000;
    position: relative;
    background: #fff;
  }
</style>